USE [OkulOtomasyonuu]
GO
/****** Object:  Table [dbo].[TBLDERSLER]    Script Date: 8.09.2022 11:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDERSLER](
	[DERSID] [tinyint] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](30) NULL,
 CONSTRAINT [PK_TBLDERSLER] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKULUPLER]    Script Date: 8.09.2022 11:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKULUPLER](
	[KULUPID] [tinyint] IDENTITY(1,1) NOT NULL,
	[KULUPAD] [varchar](30) NULL,
 CONSTRAINT [PK_TBLKULUPLER] PRIMARY KEY CLUSTERED 
(
	[KULUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLNOTLAR]    Script Date: 8.09.2022 11:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLNOTLAR](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[DERSID] [tinyint] NULL,
	[OGRID] [int] NULL,
	[SINAV1] [tinyint] NULL,
	[SINAV2] [tinyint] NULL,
	[SINAV3] [tinyint] NULL,
	[PROJE] [tinyint] NULL,
	[ORTALAMA] [decimal](5, 2) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBLNOTLAR] PRIMARY KEY CLUSTERED 
(
	[NOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRENCILER]    Script Date: 8.09.2022 11:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRENCILER](
	[OGRID] [int] IDENTITY(1,1) NOT NULL,
	[OGRAD] [varchar](30) NULL,
	[OGRSOYAD] [varchar](30) NULL,
	[OGRKULUP] [tinyint] NULL,
	[OGRCINSIYET] [varchar](5) NULL,
 CONSTRAINT [PK_TBLOGRENCILER] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRETMENLER]    Script Date: 8.09.2022 11:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRETMENLER](
	[OGRTID] [tinyint] IDENTITY(1,1) NOT NULL,
	[OGRTBRANS] [tinyint] NULL,
	[OGRTADSOYAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLOGRETMENLER] PRIMARY KEY CLUSTERED 
(
	[OGRTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLDERSLER] ON 

INSERT [dbo].[TBLDERSLER] ([DERSID], [DERSAD]) VALUES (1, N'MATEMATİK')
INSERT [dbo].[TBLDERSLER] ([DERSID], [DERSAD]) VALUES (2, N'YAZILIM TASARIMI')
INSERT [dbo].[TBLDERSLER] ([DERSID], [DERSAD]) VALUES (3, N'VERİ TABANI SİSTEMLERİ')
SET IDENTITY_INSERT [dbo].[TBLDERSLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLKULUPLER] ON 

INSERT [dbo].[TBLKULUPLER] ([KULUPID], [KULUPAD]) VALUES (1, N'BİLİŞİM')
INSERT [dbo].[TBLKULUPLER] ([KULUPID], [KULUPAD]) VALUES (2, N'SATRANÇ')
INSERT [dbo].[TBLKULUPLER] ([KULUPID], [KULUPAD]) VALUES (3, N'KÜTÜPHANE')
SET IDENTITY_INSERT [dbo].[TBLKULUPLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLNOTLAR] ON 

INSERT [dbo].[TBLNOTLAR] ([NOTID], [DERSID], [OGRID], [SINAV1], [SINAV2], [SINAV3], [PROJE], [ORTALAMA], [DURUM]) VALUES (1, 1, 1, 75, 7, 84, 85, CAST(62.00 AS Decimal(5, 2)), 1)
INSERT [dbo].[TBLNOTLAR] ([NOTID], [DERSID], [OGRID], [SINAV1], [SINAV2], [SINAV3], [PROJE], [ORTALAMA], [DURUM]) VALUES (2, 1, 2, 75, 65, 43, 34, CAST(54.00 AS Decimal(5, 2)), 1)
INSERT [dbo].[TBLNOTLAR] ([NOTID], [DERSID], [OGRID], [SINAV1], [SINAV2], [SINAV3], [PROJE], [ORTALAMA], [DURUM]) VALUES (3, 1, 3, 85, 76, 43, 78, CAST(70.00 AS Decimal(5, 2)), 1)
SET IDENTITY_INSERT [dbo].[TBLNOTLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLOGRENCILER] ON 

INSERT [dbo].[TBLOGRENCILER] ([OGRID], [OGRAD], [OGRSOYAD], [OGRKULUP], [OGRCINSIYET]) VALUES (1, N'ALİ', N'Çınar', 1, N'ERKEK')
INSERT [dbo].[TBLOGRENCILER] ([OGRID], [OGRAD], [OGRSOYAD], [OGRKULUP], [OGRCINSIYET]) VALUES (2, N'AHMET', N'YILDIRIM', 1, N'ERKEK')
INSERT [dbo].[TBLOGRENCILER] ([OGRID], [OGRAD], [OGRSOYAD], [OGRKULUP], [OGRCINSIYET]) VALUES (3, N'AYŞE', N'GÜNEŞ', 3, N'KIZ')
SET IDENTITY_INSERT [dbo].[TBLOGRENCILER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLOGRETMENLER] ON 

INSERT [dbo].[TBLOGRETMENLER] ([OGRTID], [OGRTBRANS], [OGRTADSOYAD]) VALUES (1, 1, N'ZEYNEP ÖZHAN')
INSERT [dbo].[TBLOGRETMENLER] ([OGRTID], [OGRTBRANS], [OGRTADSOYAD]) VALUES (2, 5, N'VELİ YILMAZ')
SET IDENTITY_INSERT [dbo].[TBLOGRETMENLER] OFF
GO
ALTER TABLE [dbo].[TBLNOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLNOTLAR_TBLDERSLER] FOREIGN KEY([DERSID])
REFERENCES [dbo].[TBLDERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBLNOTLAR] CHECK CONSTRAINT [FK_TBLNOTLAR_TBLDERSLER]
GO
ALTER TABLE [dbo].[TBLNOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLNOTLAR_TBLOGRENCILER] FOREIGN KEY([OGRID])
REFERENCES [dbo].[TBLOGRENCILER] ([OGRID])
GO
ALTER TABLE [dbo].[TBLNOTLAR] CHECK CONSTRAINT [FK_TBLNOTLAR_TBLOGRENCILER]
GO
ALTER TABLE [dbo].[TBLOGRENCILER]  WITH CHECK ADD  CONSTRAINT [FK_TBLOGRENCILER_TBLKULUPLER] FOREIGN KEY([OGRKULUP])
REFERENCES [dbo].[TBLKULUPLER] ([KULUPID])
GO
ALTER TABLE [dbo].[TBLOGRENCILER] CHECK CONSTRAINT [FK_TBLOGRENCILER_TBLKULUPLER]
GO
ALTER TABLE [dbo].[TBLOGRETMENLER]  WITH CHECK ADD  CONSTRAINT [FK_TBLOGRETMENLER_TBLDERSLER] FOREIGN KEY([OGRTBRANS])
REFERENCES [dbo].[TBLDERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBLOGRETMENLER] CHECK CONSTRAINT [FK_TBLOGRETMENLER_TBLDERSLER]
GO
